<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="w-full max-w-sm p-8 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Вход</h2>

    <form th:action="@{/authenticateTheUser}" method="POST" class="space-y-4">

        <div th:if="${param.error}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded">
            Невалидно потребителско име или парола!
        </div>

        <div>
            <label class="block mb-1 text-gray-700">Потребителско име</label>
            <input type="text" name="username" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400" required />
        </div>

        <div>
            <label class="block mb-1 text-gray-700">Парола</label>
            <input type="password" name="password" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400" required />
        </div>

        <div>
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
                Вход
            </button>
        </div>
        <div class="text-start mb-3">
            <a href="/" class="btn btn-secondary">⬅ Начална страница</a>
        </div>
    </form>
</div>

</body>
</html>
